:root {
	--body--bgcolor: #1c1c1c;
	--body--color: #fff;
	/* --link--color: #5e98f5; */
	--link--color: rgb(109, 203, 253);
	--link--color-hover: #c5fc98fe;
	--diagram--bgcolor: #eeffee;
	/* --diagram--bgcolor: #cae2ca; */
	--info-nav--bgcolor: #111;
	--info-view--padding: 5px;
	--border--color: #fff;
	--input--color: #fff;
	--input--bgcolor: rgb(51, 51, 51);
	--input--disabled-color: #77a;
	--input--disabled-bgcolor: #333;
	--input--height: 30px;
	--expression__value--color1: white;
	--expression__value--color2: rgba(255,255,230,1);
	--expression__value--color3:rgba(240,240,255,1);
	--expression__value--stroke-color: black;
	--expression__value--bgcolor: rgba(238,255,238,1);
	--selected__list--bgcolor: rgb(79, 85, 116);
	--subtext--color: darkgray;
}
@media (prefers-color-scheme: light) {
	:root {
		--body--bgcolor: #fafafa;
		--body--color: #555;
		--link--color: blue;
		--link--color-hover: #000;
		--diagram--bgcolor: #eeffee;
		--info-nav--bgcolor: #f3f3f3;
		--border--color: #000;
		--input--color: #000;
		--input--bgcolor: #fff;
		--input--disabled-color: #555;
		--input--disabled-bgcolor: #ccc;
		--expression__value--color1: white;
		--expression__value--color2: rgba(255,255,230,1);
		--expression__value--color3:rgba(240,240,255,1);
		--expression__value--stroke-color: black;
		--expression__value--bgcolor: rgba(238,255,238,1);
		--selected__list--bgcolor: lightgray;
		--subtext--color: rgb(102, 101, 101);
	}
}

body {
	background-color: var(--body--bgcolor) !important;
	color: var(--body--color);
}

input {
	font-size: 12pt;
	height: 28px;
	width: 100%;
	box-sizing: border-box;
	padding-left: 3px;
	padding-right: 3px;
	border: solid 1px;
	border-radius: 5px;
	color: var(--input--color);
	background-color: var(--input--bgcolor);
}

input:disabled {
	color: var(--input--disabled-color);
	background-color: var(--input--disabled-bgcolor);
}

textarea {
	overflow: auto;
	text-align: left;
	font-size: 1em;
	box-sizing: border-box;
	white-space: pre-wrap;
	tab-size: 4;
	padding-left: 5px;
	color: var(--input--color);
	background-color: var(--input--bgcolor);
}

textarea:disabled {
	color: var(--input--disabled-color);
	background-color: var(--input--disabled-bgcolor);
}

button {
	color: var(--link--color);
	background-color: var(--input-bgcolor);
	border-radius: 5px;
	font-size: 12pt;
	height: 28px;
}

button:disabled {
	color: var(--input--disabled-color);
	background-color: var(--input--disabled-bgcolor);
}

svg text {
	pointer-events: none;
}

a {
	color: var(--link--color);
}

a:hover {
	color: var(--link--color-hover);
}

.checkbox-and-label {
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-template-rows: 1fr;
}

.checkbox__label {
	grid-area: 1 / 2 / 1 / 2
}

.checkbox__input {
	grid-area: 1 / 1 / 1 / 1;
}

/* prevent diagram text being selected when moving icons on iOS */
.diagram__text-components {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#info-view {
	height: 100%;
	grid-area: info;
	padding-left: var(--info-view--padding);
	padding-right: var(--info-view--padding);
}

#info-nav {
	grid-area: nav;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-areas: "back title help";
	align-items: center;
	background-color: var(--info-nav--bgcolor);
	border-bottom: solid 1px black;
}

#info-nav .three-column {
	grid-template-columns: 1fr 3fr 1fr;
}

#info-nav .two-column {
	grid-template-columns: 0px 1fr;
}

#info-nav__back {
	grid-area: back;
	margin-left: 10px;
	color: var(--link--color);
}

#info-nav__title {
	grid-area: title;
	justify-self: center;
}

#info-nav__help {
	grid-area: help;
	color: var(--link--color);
	margin-right: 10px;
	justify-self: right;
}

#info-tools {
	grid-area: infotools;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-template-rows: 1fr;
	grid-template-areas: "expand sessions console undo redo units";
	justify-items: center;
	align-items: center;
	border-top: solid 1px var(--border--color);
}

.info-tools__button {
	padding: 0;
	width: 100%;
	background: transparent;
	border: 0;
	font-size: 10pt;
	color: var(--link--color);
}

#info-tools__expand-button {
	grid-area: expand;
}

#info-tools__undo-button {
	grid-area: undo;
}

#info-tools__redo-button {
	grid-area: redo;
}

#info-tools__units-button {
	grid-area: units;
}

#info-tools__console-button {
	grid-area: console;
}

#info-tools__sessions-button {
	grid-area: sessions;
}

#mmapp__wrapper--two-pane {
	font-size: 1em;
	/* height: 100%; */
	width: 100%;
	display: grid;
	grid-template-areas: "diagram nav"
		"diagram info"
		"diagram infotools";
}

.mmapp__wrapper--one-pane {
	font-size: 1em;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "nav"
		"info"
		"infotools";
}

.mmapp__diagram {
	background-color: var(--diagram--bgcolor);
	border-right: 1px solid var(--border--color);
}

#mmapp__diagram--two-pane {
	grid-area: diagram;
}

#mmapp__diagram--one-pane {
	grid-area: nav / 1 / info / 1;
}

#console {
	height: 100%;
	font-size: 1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 30px 40px;
	grid-template-areas: "result"
		"input"
		"readfile"					
}

#console__result {
	grid-area: result;
}

#console__input {
	grid-area: input;
	justify-self: center;
	/*width: calc(100% - 1em);*/
}

#console__read-file {
	grid-area: readfile;
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "readlabel readinput";
}

#console__read-file-label {
	font-size: 11pt;
	grid-area: readlabel;
	align-self: center;
	justify-self: center;
}

#console__read-file-input {
	font-size: 10pt;
	grid-area: readinput;
	align-self: center;
	justify-self: center;
	color: var(--link--color);
}

#model {
	height: 100%;
	font-size: 1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--input--height) 1fr;
	grid-template-areas: "name"
		"other"
}

#expression {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--input--height) var(--input--height) var(--input--height) var(--input--height) 1fr;
	box-sizing: border-box;
}

#expression__name {
	grid-area: 1 / 1 / 1 / 1;
	width: 100%;
	box-sizing: border-box;
}

#expression__formula {
	display: grid;
	grid-area: 2 / 1 / 2 / 1;
	grid-template-columns: 20px 1fr;
	grid-template-rows: 1fr;
	width: 100%;
	box-sizing: border-box;
}

#expression__formula-equal {
	grid-area: 1 / 1 / 1 / 1;
	margin-left: 5px;
}

#expression__formula-field {
	grid-area: 1 / 2 / 1 / 2;
}

#expression__in-out-boxes {
	display: grid;
	grid-area: 3 / 1 / 3 / 1;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

#expression__is-input {
	grid-area: 1 / 1 / 1 / 1;
	margin-left: 10px;
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-template-rows: 1fr;
}

#expression__is-input-label {
	grid-area: 1 / 2 / 1 / 2
}

#expression__is-output {
	grid-area: 1 / 2 / 1 / 2;
	margin-left: 10px;
}

#expression__units {
	display: grid;
	grid-area: 4 / 1 / 4 / 1;
	grid-template-columns: 1fr 30px;
	grid-template-rows: var(--input--height);
}

#expression__unit-and-type {
	grid-area: 1 / 1 / 1 / 1;
}

#expression__info-button {
	grid-area: 1 / 2 / 1 / 2;
	border-radius: 10px;
	height: 20px;
	width: 20px;
	font-size: 10pt;
	border: 1;
	text-align: center;
}

 #expression__value-svg {
	grid-area: 5 / 1 / 5 / 1;
	background-color: var(--expression__value--bgcolor);
	width: 100%;
	font-size: 13pt;
	stroke: var(--expression__value--stroke-color);
}

#expression__origin-box {
	fill: var(--expression__value--bgcolor);
	height: var(--input--height);
}

.expression__cell--color1 {
	fill: var(--expression__value--color1);
}

.expression__cell--color2 {
	fill: var(--expression__value--color2);
}

.expression__cell--color3 {
	fill: var(--expression__value--color3);
}

.result-table__column-label {
	font-size: 10pt;
}

#units {
	--button-section-height: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: var(--button-section-height) 1fr;
	grid-template-areas: "customunits customsets"
		"setslist setslist";
	gap: 10px 10px;
	background-color: var(--input--bgcolor);
}

#units button {
	justify-self: center;
	align-self: center;
	margin-top: 10px;
}

#units__custom-units-button {
	grid-area: customunits;
}

#units__custom-sets-button {
	grid-area: customsets;
}

#units__sets-list {
	grid-area: setslist;
	width: 100%;
	border-bottom: solid 1px;
	overflow: auto;
	height: calc((var(--info-height) - var(--button-section-height)) - 10px);
}

.units__set-select {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: var(--input--height);
	border-top: solid 1px;
}

.units__set-select input {
	grid-area: 1 / 1 / 1 / 1;
	margin-left: 15px;
	margin-right: 25px;
}

.units__label--checked {
	grid-area: 1 / 2 / 1 / 2;
	color: var(--body--color);
	font-weight: bold;
	padding-top: 8px; 
}

.units__label {
	grid-area: 1 / 2 / 1 / 2;
	color: var(--link--color);
	padding-top: 8px; 
}

#user-units {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr;
	grid-template-areas: "inputsection"
		"unitslist";
	height: 100%	
}

#user-units__input-section {
	grid-area: inputsection;
	display: grid;
	grid-template-columns: 80px 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "label input"
		"example example"	
}

#user-units__input-label {
	grid-area: label;
	margin-left: 10px;
	margin-top: 10px	
}

#user-units__input {
	grid-area: input;
	justify-self: center;
	font-size: 10pt;
	width: calc(100% - 25px);
	padding-left: 5px;
	margin-left: 10px;
	margin-top: 5px;
	border: solid 1px
}

#user-units__example {
	grid-area: example;
	margin-left: 10px;
	margin-top: 5px;
}

#user-units__unit-list {
	background-color: var(--input--bgcolor);
	height: 100%;
	border-top: solid 1px
}

.user-units__unit {
	border-bottom: solid 1px;
	display: grid;
	grid-template-columns: 1fr 80px;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "definition delete"
		"unittype delete";
	padding-top: 5px;
	padding-bottom: 5px;
}

.user-units__definition {
	color: var(--link--color);
	grid-area: definition;
	margin-left: 10px;
}

.user-units__type {
	color: var(--link--color);
	grid-area: unittype;
	margin-left: 10px;
}

.user-units__delete {
	grid-area: delete;
	font-size: 10pt;
	margin-right: 5px;
}

#unit-sets {
	--input-section-height: 60px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--input-section-height) 1fr;
	grid-template-areas: "inputsection"
		"setslist";
	height: 100%;
}

#unit-sets__input-section {
	grid-area: inputsection;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 30px;
	grid-template-areas: "label input clone";
	grid-row-gap: 10px;
}

#unitsets__name-label {
	grid-area: label;
	margin-left: 10px;
	align-self: center;
}

#unit-sets__name-field {
	grid-area: input;
	justify-self: center;
	width: calc(100% - 25px);
	padding-left: 5px;
	margin-left: 10px;
	border: solid 1px;
	align-self: center;
}

#unit-sets__clone-button {
	grid-area: clone;
}

#unit-sets__list {
	grid-area: setslist;
	background-color: var(--input--bgcolor);
	border-top: solid 1px;
	overflow: auto;
	box-sizing: border-box;
	height: calc((var(--info-height) - var(--input-section-height)) - 10px);
}

.unit-sets__row {
	border-bottom: solid 1px;
	display: grid;
	grid-template-columns: 1fr 40px;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "name info"
		"settype info"	
}

.unit-sets__row--selected {
	background-color: var(--selected__list--bgcolor);
}

.unit-sets__list-set-name {
	color: var(--link--color);
	grid-area: name;
	margin-left: 10px;
	font-size: 14pt;
	overflow: hidden;
}

.unit-sets__list-set-type {
	grid-area: settype;
	margin-left: 10px;
	color: var(--subtext--color);
}

#unit-sets__info {
	grid-area: info;
	margin-right: 5px;
	font-size: 14pt;
	font-weight: bold;
	color: var(--link--color);
	align-self: center;
	width: 30px;
	border-radius: 10px;
}

#unit-set {
	display: grid;
	--input-section-height: 120px;
	grid-template-columns: 1fr;
	grid-template-rows: var(--input-section-height) 1fr;
	grid-template-areas: "inputsection"
		"unitslist";
	grid-gap: 5px;
	height: 100%
}

#unit-set__input-section {
	grid-area: inputsection;
	display: grid;
	grid-template-columns: 60px 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "buttons buttons"
		"namelabel namefield"
		"unitlabel unitfield";
	grid-row-gap: 10px;
}

#unit-set__name-label {
	grid-area: namelabel;
	padding-left: 5px;
}

#unit-set___name-field {
	grid-area: namefield;
}

#unit-set__unit-label {
	grid-area: unitlabel;
	padding-left: 5px;
}

#unit-set___unit-field {
	grid-area: unitfield;
}

#unit-set__buttons {
	grid-area: buttons;
	justify-self: stretch;
	align-self: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#unit-set__buttons button {
	width: 140px;
	justify-self: center;
}

#unit-set__delete-set {
	grid-area: 1 / 1 / 1 / 1;
}

#unit-set__clear-selection {
	grid-area: 1 / 2 / 1 / 2;
}

#unit-set__list {
	grid-area: unitslist;
	background-color: var(--input--bgcolor);
	border-top: solid 1px;
	overflow: auto;
	box-sizing: border-box;
	height: calc((var(--info-height) - var(--input-section-height)) - 10px);
}

.unit-set__row {
	border-bottom: solid 1px;
	display: grid;
	grid-template-columns: 1fr 80px;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "name delete"
		"unit delete";
}

.unit-set__row--selected {
	background-color: var(--selected__list--bgcolor);
}

.unit-set__name {
	grid-area: name;
	margin-left: 5px;
	font-size: 14pt;
	overflow: hidden;	
}

.unit-set__unit {
	grid-area: unit;
	margin-left: 5px;
	color: var(--link--color);

}

.unit-set__delete {
	grid-area: delete;
	align-self: center;
	margin-right: 10px;
}

