:root {
	--body--bgcolor: #1c1c1c;
	--body--color: #fff;
	/* --link--color: #5e98f5; */
	--link--color: rgb(109, 203, 253);
	--link--color-hover: #c5fc98fe;
	--diagram--bgcolor: #eeffee;
	/* --diagram--bgcolor: #cae2ca; */
	--info-nav--bgcolor: #111;
	--info-view--padding: 5px;
	--border--color: #fff;
	--button--border-color: #d1d1d1;
	--input--color: #fff;
	--input--bgcolor: rgb(51, 51, 51);
	--input--disabled-color: #77a;
	--input--disabled-bgcolor: #333;
	--input--height: 30px;
	--expression__value--color1: white;
	--expression__value--color2: rgba(255,255,230,1);
	--expression__value--color3:rgba(240,240,255,1);
	--expression__value--stroke-color: black;
	--expression__value--bgcolor: rgba(238,255,238,1);
	--selected__list--bgcolor: rgb(79, 85, 116);
	--subtext--color: darkgray;
	--title--color: #69e469;
	--bold--color: #fbb636;
}
@media (prefers-color-scheme: light) {
	:root {
		--body--bgcolor: #fafafa;
		--body--color: #000;
		--link--color: blue;
		--link--color-hover: #000;
		--diagram--bgcolor: #eeffee;
		--info-nav--bgcolor: #f3f3f3;
		--border--color: #000;
		--button--border-color: #bababa;
		--input--color: #000;
		--input--bgcolor: #fff;
		--input--disabled-color: #555;
		--input--disabled-bgcolor: #ccc;
		--expression__value--color1: white;
		--expression__value--color2: rgba(255,255,230,1);
		--expression__value--color3:rgba(240,240,255,1);
		--expression__value--stroke-color: black;
		--expression__value--bgcolor: rgba(238,255,238,1);
		--selected__list--bgcolor: lightgray;
		--subtext--color: rgb(102, 101, 101);
		--title--color: #040;
		--bold--color: black;
	}
}

body {
	background-color: var(--body--bgcolor) !important;
	color: var(--body--color);
	box-sizing: border-box;
}

input {
	font-size: 12pt;
	height: 28px;
	width: 100%;
	box-sizing: border-box;
	padding-left: 3px;
	padding-right: 3px;
	border: solid 1px;
	border-radius: 5px;
	color: var(--input--color);
	background-color: var(--input--bgcolor);
}

input:disabled {
	color: var(--input--disabled-color);
	background-color: var(--input--disabled-bgcolor);
}

textarea {
	overflow: auto;
	text-align: left;
	font-size: 1em;
	box-sizing: border-box;
	white-space: pre-wrap;
	tab-size: 4;
	padding-left: 5px;
	color: var(--input--color);
	background-color: var(--input--bgcolor);
}

textarea:disabled {
	color: var(--input--disabled-color);
	background-color: var(--input--disabled-bgcolor);
}

b {
	color: var(--bold--color);
}

button {
	color: var(--link--color);
	background-color: var(--input-bgcolor);
	border-radius: 5px;
	font-size: 12pt;
	height: 28px;
}

button:disabled {
	color: var(--input--disabled-color);
	background-color: var(--input--disabled-bgcolor);
}

.input-file-button {
	overflow: hidden;
	position: relative;
	text-align: center;
	padding-top: 4px;
	box-sizing: border-box;
	color: var(--link--color);
	background-color: var(--input-bgcolor);
	border-radius: 5px;
	border: solid 1px;
	border-color: var(--button--border-color);
	font-size: 12pt;
	height: 28px;
	float: left;
}

.input-file-button [type=file] {
	display: block;
	cursor: inherit;
	filter: alpha(opacity=0);
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}



svg text {
	pointer-events: none;
}

a {
	color: var(--link--color);
}

a:hover {
	color: var(--link--color-hover);
}

.checkbox-and-label {
	display: grid;
	grid-template-columns: 30px 1fr;
	grid-template-rows: 1fr;
}

.checkbox__label {
	grid-area: 1 / 2 / 1 / 2;
	align-self: center;
}

.checkbox__input {
	grid-area: 1 / 1 / 1 / 1;
	align-self: center;
}

.entry--selected {
	background-color: var(--selected__list--bgcolor);
}

.result-table__column-label {
	font-size: 10pt;
}

#console {
	height: 100%;
	font-size: 1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 30px 40px;
	grid-template-areas: "result"
		"input"
		"readfile"					
}

#console__result {
	grid-area: result;
}

#console__input {
	grid-area: input;
	justify-self: center;
	/*width: calc(100% - 1em);*/
}

#console__read-file {
	grid-area: readfile;
	justify-self: center;
	align-self: center;
}

#console__read-file-label {
	margin-top: 5px;
	width: 200px;
}

/* prevent diagram text being selected when moving icons on iOS */
.diagram__text-components {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#expression {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--input--height) var(--input--height) var(--input--height) 1fr;
	grid-template-areas: "options"
		"formula"
		"out-units"
		"display";
	box-sizing: border-box;
	grid-gap: 2px;
}

#expression__formula {
	width: 100%;
	grid-area: formula;
	align-self: center;
	padding: 3px;
	border-top: solid 1px var(--border--color);
	border-bottom: solid 1px var(--border--color);
	box-sizing: border-box;
}

#expression__formula-equal {
	grid-area: formula-equal;
	margin-left: 5px;
}

#expression__formula-field {
	grid-area: formula-field;
}

#expression__options {
	grid-area: options;
	display: grid;
	grid-template-columns: 1fr 8em;
	grid-template-rows: 1fr;
	grid-template-areas: "toolbar in-out";
	grid-gap: 5px;
	box-sizing: border-box;
}

#expression__in-out-boxes {
	display: grid;
	grid-area: in-out;
	grid-template-columns: 4em 4em;
	grid-template-rows: 1fr;
	grid-template-areas: "is-input is-output tool-bar";
}

#expression__is-input {
	grid-area: is-input;
}

#expression__is-output {
	grid-area: is-output;
}

#expression__units {
	display: grid;
	grid-area: out-units;
	grid-template-columns: 1fr 30px;
	grid-template-rows: var(--input--height);
	grid-template-areas: "unit-and-type info-button";
	box-sizing: border-box;
	padding-top: 2px;
}

#expression__unit-and-type {
	grid-area: unit-and-type;
}

#expression__info-button {
	grid-area: info-button;
	border-radius: 10px;
	height: 20px;
	width: 20px;
	font-size: 10pt;
	border: 1;
	text-align: center;
}

 #expression__value-svg {
	grid-area: display;
	background-color: var(--expression__value--bgcolor);
	width: 100%;
	font-size: 12pt;
	stroke: var(--expression__value--stroke-color);
}

#expression__origin-box {
	fill: var(--expression__value--bgcolor);
	height: var(--input--height);
}

.expression__cell--color1 {
	fill: var(--expression__value--color1);
}

.expression__cell--color2 {
	fill: var(--expression__value--color2);
}

.expression__cell--color3 {
	fill: var(--expression__value--color3);
}

.formula-field {
	display: grid;
	grid-template-columns: 1fr 20px;
	grid-template-rows: 1fr;
	grid-template-areas: "formula-display formula-refresh";
	width: 100%;
	box-sizing: border-box;
	color: var(--link--color);
}

.formula-field__text-display {
	grid-area: formula-display;
}

.formula-field__refresh {
	grid-area: formula-refresh;
}

#formula-editor {
	height: 100%;
	padding-top: 2px;
	box-sizing: border-box;
}

#formula-editor__edit {
	display: grid;
	grid-template-areas: 1fr;
	grid-template-rows: var(--input--height) 1fr var(--input--height);
	grid-template-areas: "toolbar"
		"input"
		"apply";
	height: 100%;
	box-sizing: border-box;
}

#formula-editor__toolbar {
	grid-area: toolbar;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 2px;
}

#formula-editor__toolbar button {
	font-size: 10pt;
}

.formula-editor__display {
	grid-area: input;
}

#formula-editor__apply {
	grid-area: apply;
}

#f-picker {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--input--height) 1fr;
	grid-template-areas: "header"
		"scrollarea";
}

#f-picker__header {
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "title cancel";
}

#f-picker__scroll-area {
	grid-area: scrollarea;
	overflow: auto;
	height: calc(var(--info-height) - 1.5em);
}

#f-picker__title {
	grid-area: title;
	color: var(--title--color);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	margin-bottom: 0.2em;
}

#f-picker__cancel {
	grid-area: cancel;
	width: 5em;
	justify-self: right;
}

.f-picker__section {
	border-top: solid 1px var(--border--color);
	padding-bottom: 5px;
}

.f-picker__section-header {
	color: var(--link--color);
	padding: 3px 0;
}

.f-picker__comment {
	padding: 5px 0;
}

.f-picker__f {
	padding: 0 10px;
}

.f-picker__f-def {
	color: var(--link--color);
	border-top: solid 1px var(--border--color);
	padding: 3px 0;
}

#f-picker__f-desc {
	color: var(--body--color);
}

#f-picker__insert {
	margin: 5px auto;
	display: flex;
	justify-content: center;
}

#info-view {
	height: 100%;
	grid-area: info;
	padding-left: var(--info-view--padding);
	padding-right: var(--info-view--padding);
}

#info-nav {
	grid-area: nav;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-areas: "back title help";
	align-items: center;
	background-color: var(--info-nav--bgcolor);
	border-bottom: solid 1px var(--border--color);
}

#info-nav .three-column {
	grid-template-columns: 1fr 3fr 1fr;
}

#info-nav .two-column {
	grid-template-columns: 0px 1fr;
}

#info-nav__back {
	grid-area: back;
	margin-left: 10px;
	color: var(--link--color);
}

#info-nav__title {
	grid-area: title;
	justify-self: center;
}

#info-nav__help {
	grid-area: help;
	color: var(--link--color);
	margin-right: 10px;
	justify-self: right;
}

#info-tools {
	grid-area: infotools;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-template-rows: 1fr;
	grid-template-areas: "expand sessions console undo redo units";
	justify-items: center;
	align-items: center;
	border-top: solid 1px var(--border--color);
}

.info-tools__button {
	padding: 0;
	width: 100%;
	background: transparent;
	border: 0;
	font-size: 10pt;
	color: var(--link--color);
}

#info-tools__expand-button {
	grid-area: expand;
}

#info-tools__undo-button {
	grid-area: undo;
}

#info-tools__redo-button {
	grid-area: redo;
}

#info-tools__units-button {
	grid-area: units;
}

#info-tools__console-button {
	grid-area: console;
}

#info-tools__sessions-button {
	grid-area: sessions;
}

#matrix {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--input--height) var(--input--height) var(--input--height) 1fr;
	grid-template-areas: "size"
		"out-units"
		"formula"
		"display";
	box-sizing: border-box;
	grid-gap: 2px;
}

#matrix__size-fields {
	grid-area: size;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
}

#matrix__unit-fields {
	grid-area: out-units;
}

#mmapp__wrapper--two-pane {
	font-size: 1em;
	/* height: 100%; */
	width: 100%;
	display: grid;
	grid-template-areas: "diagram nav"
		"diagram info"
		"diagram infotools";
}

.mmapp__wrapper--one-pane {
	font-size: 1em;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "nav"
		"info"
		"infotools";
}

.mmapp__diagram {
	background-color: var(--diagram--bgcolor);
	border-right: 1px solid var(--border--color);
}

#mmapp__diagram--two-pane {
	grid-area: diagram;
}

#mmapp__diagram--one-pane {
	grid-area: nav / 1 / info / 1;
}

#model {
	height: 100%;
	font-size: 1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--input--height) 1fr;
	grid-template-areas: "name"
		"other"
}

#sessions__wrapper {
	display: grid;
	grid-template-rows: 50px 1fr 1fr;
	grid-template-areas: "header"
		"menu"
		"list";
}

#sessions__header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "new save import";
	grid-column-gap: 10px;
}

#sessions__new-button {
	grid-area: new;
}

#sessions__save-button {
	grid-area: save;
}

#sessions__import-button {
	grid-area: import;
}

#sessions__list {
	grid-area: menu-start / list-start / list-end / list-end;
	z-index: 1;
}

#sessions__menu-wrapper {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas: "title"
		"copy"
		"rename"
		"delete"
		"cancel";
		width: 150px;
		margin: 0 auto;
		grid-row-gap: 15px;
}

#sessions__menu-title {
	grid-area: title;
	font-size: 16pt;
	text-align: center;
}

#sessions__menu-copy {
	grid-area: copy;
}

#sessions__menu-rename {
	grid-area: rename;
}

#sessions__menu-delete {
	grid-area: delete;
}

#sessions__menu-cancel {
	grid-area: cancel;
}

.sessions__menu-button {
	justify-self: center;
	width: 100%;
}

.sessions__entry {
	display: grid;
	grid-template-columns: 1fr 30px;
}

#tool-view {
	height: 100%;
	display: grid;
	grid-template-rows: var(--input--height) 1fr;
	grid-template-areas: "name-area"
		"display-area";
	grid-gap: 5px;
}

#tool-view__name-area {
	grid-area: name-area;
	display: grid;
	grid-template-columns: 1fr 3em;
	grid-template-areas: "name note-toggle";
	grid-gap: 5px;
	width: 100%;
	height: var(--input--height);
	box-sizing: border-box;
	padding-top: 5px;
}

#tool-view__name {
	grid-area: name;
}

#tool-view__notes-toggle {
	grid-area: note-toggle;
	font-size: 8pt;
	text-align: center;
	color: var(--link--color);
	box-sizing: border-box;
}

#tool-view__notes {
	grid-area: display-area;
	display: grid;
	grid-template-rows: var(--input--height) 1fr;
	grid-template-areas: "notes-header"
		"notes-input";
	grid-gap: 10px;
}

#tool-view__notes-header {
	grid-area: notes-header;
	display: grid;
	grid-template-columns: 1fr 6em;
	grid-template-areas: "notes-title notes-diagram";
}

#tool-view__notes-title {
	grid-area: notes-title;
}

#tool-view__diagram-notes-toggle {
	grid-area: notes-diagram;
	font-size: 8pt;
	text-align: center;
	vertical-align: middle;
	color: var(--link--color);
	box-sizing: border-box;
}

#tool-view__notes-input {
	grid-area: notes-input;
}

#units {
	--button-section-height: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: var(--button-section-height) 1fr;
	grid-template-areas: "customunits customsets"
		"setslist setslist";
	gap: 10px 10px;
	background-color: var(--input--bgcolor);
}

#units button {
	justify-self: center;
	align-self: center;
	margin-top: 10px;
}

#units__custom-units-button {
	grid-area: customunits;
}

#units__custom-sets-button {
	grid-area: customsets;
}

#units__sets-list {
	grid-area: setslist;
	width: 100%;
	border-bottom: solid 1px;
	overflow: auto;
	height: calc((var(--info-height) - var(--button-section-height)) - 10px);
}

.units__set-select {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: var(--input--height);
	border-top: solid 1px;
}

.units__set-select input {
	grid-area: 1 / 1 / 1 / 1;
	margin-left: 15px;
	margin-right: 25px;
}

.units__label--checked {
	grid-area: 1 / 2 / 1 / 2;
	color: var(--body--color);
	font-weight: bold;
	padding-top: 8px; 
}

.units__label {
	grid-area: 1 / 2 / 1 / 2;
	color: var(--link--color);
	padding-top: 8px; 
}

#user-units {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr;
	grid-template-areas: "inputsection"
		"unitslist";
	height: 100%	
}

#user-units__input-section {
	grid-area: inputsection;
	display: grid;
	grid-template-columns: 80px 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "label input"
		"example example"	
}

#user-units__input-label {
	grid-area: label;
	margin-left: 10px;
	margin-top: 10px	
}

#user-units__input {
	grid-area: input;
	justify-self: center;
	font-size: 10pt;
	width: calc(100% - 25px);
	padding-left: 5px;
	margin-left: 10px;
	margin-top: 5px;
	border: solid 1px
}

#user-units__example {
	grid-area: example;
	margin-left: 10px;
	margin-top: 5px;
}

#user-units__unit-list {
	background-color: var(--input--bgcolor);
	height: 100%;
	border-top: solid 1px
}

.user-units__unit {
	border-bottom: solid 1px;
	display: grid;
	grid-template-columns: 1fr 80px;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "definition delete"
		"unittype delete";
	padding-top: 5px;
	padding-bottom: 5px;
}

.user-units__definition {
	color: var(--link--color);
	grid-area: definition;
	margin-left: 10px;
}

.user-units__type {
	color: var(--link--color);
	grid-area: unittype;
	margin-left: 10px;
}

.user-units__delete {
	grid-area: delete;
	font-size: 10pt;
	margin-right: 5px;
}

#unit-sets {
	--input-section-height: 60px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--input-section-height) 1fr;
	grid-template-areas: "inputsection"
		"setslist";
	height: 100%;
}

#unit-sets__input-section {
	grid-area: inputsection;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 30px;
	grid-template-areas: "label input clone";
	grid-row-gap: 10px;
}

#unitsets__name-label {
	grid-area: label;
	margin-left: 10px;
	align-self: center;
}

#unit-sets__name-field {
	grid-area: input;
	justify-self: center;
	width: calc(100% - 25px);
	padding-left: 5px;
	margin-left: 10px;
	border: solid 1px;
	align-self: center;
}

#unit-sets__clone-button {
	grid-area: clone;
}

#unit-sets__list {
	grid-area: setslist;
	background-color: var(--input--bgcolor);
	border-top: solid 1px;
	overflow: auto;
	box-sizing: border-box;
	height: calc((var(--info-height) - var(--input-section-height)) - 10px);
}

.unit-sets__row {
	border-bottom: solid 1px;
	display: grid;
	grid-template-columns: 1fr 40px;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "name info"
		"settype info"	
}

.unit-sets__list-set-name {
	color: var(--link--color);
	grid-area: name;
	margin-left: 10px;
	font-size: 14pt;
	overflow: hidden;
}

.unit-sets__list-set-type {
	grid-area: settype;
	margin-left: 10px;
	color: var(--subtext--color);
}

#unit-sets__info {
	grid-area: info;
	margin-right: 5px;
	font-size: 14pt;
	font-weight: bold;
	color: var(--link--color);
	align-self: center;
	width: 30px;
	border-radius: 10px;
}

#unit-set {
	display: grid;
	--input-section-height: 120px;
	grid-template-columns: 1fr;
	grid-template-rows: var(--input-section-height) 1fr;
	grid-template-areas: "inputsection"
		"unitslist";
	grid-gap: 5px;
	height: 100%
}

#unit-set__input-section {
	grid-area: inputsection;
	display: grid;
	grid-template-columns: 60px 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "buttons buttons"
		"namelabel namefield"
		"unitlabel unitfield";
	grid-row-gap: 10px;
}

#unit-set__name-label {
	grid-area: namelabel;
	padding-left: 5px;
}

#unit-set___name-field {
	grid-area: namefield;
}

#unit-set__unit-label {
	grid-area: unitlabel;
	padding-left: 5px;
}

#unit-set___unit-field {
	grid-area: unitfield;
}

#unit-set__buttons {
	grid-area: buttons;
	justify-self: stretch;
	align-self: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#unit-set__buttons button {
	width: 140px;
	justify-self: center;
}

#unit-set__delete-set {
	grid-area: 1 / 1 / 1 / 1;
}

#unit-set__clear-selection {
	grid-area: 1 / 2 / 1 / 2;
}

#unit-set__list {
	grid-area: unitslist;
	background-color: var(--input--bgcolor);
	border-top: solid 1px;
	overflow: auto;
	box-sizing: border-box;
	height: calc((var(--info-height) - var(--input-section-height)) - 10px);
}

.unit-set__row {
	border-bottom: solid 1px;
	display: grid;
	grid-template-columns: 1fr 80px;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "name delete"
		"unit delete";
}

.unit-set__name {
	grid-area: name;
	margin-left: 5px;
	font-size: 14pt;
	overflow: hidden;	
}

.unit-set__unit {
	grid-area: unit;
	margin-left: 5px;
	color: var(--link--color);

}

.unit-set__delete {
	grid-area: delete;
	align-self: center;
	margin-right: 10px;
}

#unit-picker {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr var(--input--height) var(--input--height);
	grid-template-areas: "list"
		"input"
		"buttons";
		height: 100%
	}

#unit-picker__list {
	grid-area: list;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "types units";
}

#unit-picker__list-types {
	grid-area: types;
	border-right: 1px solid;
	overflow: auto;
	box-sizing: border-box;
	height: calc(var(--info-height) - (2 * var(--input--height)));
	white-space: nowrap;
}

#unit-picker__list-units {
	grid-area: units;
	padding-left: var(--info-view--padding);
	overflow: auto;
	box-sizing: border-box;
	height: calc(var(--info-height) - (2 * var(--input--height)));
	white-space: nowrap;
}

#unit-picker__input {
	grid-area: input;
}

#unit-picker__buttons {
	grid-area: buttons;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "cancel apply";
	justify-content: center;
	padding-left: 10%;
	padding-right: 10%;
	grid-gap: 10px;
}

#unit-picker__cancel {
	grid-area: cancel;
}

#unit-picker__apply {
	grid-area: apply;
}

#value-picker__buttons button {
	margin: 5px;
}

.value-picker__param {
	color: var(--link--color);
}

#value-picker__param-list {
	text-align: center;
}

#value-picker__path-list {
	border-bottom: solid 1px;
	box-sizing: border-box;
	padding: 3px;
	text-align: center;
}

.value-picker__selection {
	color: var(--link--color);
}