body {
	background-color: rgb(255, 253, 225) !important;
	color: black;
}
table {
	width: 100%;
	border-collapse: collapse;
}
td, th {
	border: 1px solid black;
	padding: 4px;
}

tr:nth-child(odd){background-color: #f2f2f2;}
tr:nth-child(even){background-color: #ffffff;}

tr:hover {background-color: #ddd;}

th {
	text-align: left;
	background-color: #e8e8ff;
	color: black;
}
th.col0, td.col0 {
	display: none;
	width: 50px;
}

.menu-tool {
	margin-top: 15px;
	margin-right: 10px;
	text-align: center;
}

.model-form {
	margin-top: 10px;
}

.model-form__title {
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 10px;
}

.model-form__input-row {
	display: grid;
	grid-template-columns: 112px 1fr;
	background-color: #f2f2f2;
}
.model-form__input-name {
	width:100px;
	border: solid 1px black;
	padding: 5px;
}

.model-form__input	{
	border: solid 1px;
	padding: 5px;
}

.model-form__output-row {
	display: grid;
	grid-template-columns: 112px 1fr;
	background-color: #e8e8ff;
	border: solid 1px;
}
.model-form__output-name {
	width:100px;
	border: solid 1px black;
	padding: 5px;
}
.model-form__output-table, .model-form__output-tool {
	margin-top: 5px;
}
.model-form__output-table .model-form__output-name {
	background-color: #e8e8ff;
}
.model-form__output-tool .model-form__output-name {
	background-color: #e8e8ff;
}
.model-form__output-row .model-form__output-name {
	width:100px;
	border: solid 1px black;
	padding: 5px;
}
.model-form__output-row .model-form__output-value {
	white-space: pre-wrap;
	border: solid 1px black;
	padding: 5px;
}
.model-form__input-name:hover, .model-form__output-name:hover, .model-form__multiline-formula:hover {
	cursor: pointer;
}
.model-form__output-value	{
	background-color: white;
}
.model-form__output-row, .model-form__input-row {
	margin-top: 5px;
}
.model-form__output-tool {
	/* background-color: white; */
	/* border: solid 1px black;
	padding: 5px; */
}

.model-form__multiline-formula {
	white-space: pre-wrap;
	border: solid 1px;
	padding: 5px;
}
.model-form__input-row:hover, .model-form__output-row:hover {background-color: #ddd;}

.model-form__notes {
	white-space: pre-wrap;
	margin-top: 10px;
}

.button-tool {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.graph__svg {
	background-color: white;
}
