.console-view {
	height: 100%;
	font-size: 1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 30px 40px;
	grid-template-areas:
		"result"
		"input"
		"readfile";
	}

.console-result {
	grid-area: result;
	overflow: auto;
	text-align: left;
	font-size: 1em;
	box-sizing: border-box;
	white-space: pre-wrap;
	tab-size: 4;
	padding-left: 5px;
}

#console-result-field {
	grid-area: result;
	overflow: auto;
	text-align: left;
	font-size: 1em;
	box-sizing: border-box;
	white-space: pre-wrap;
	tab-size: 4;
	padding-left: 5px;
}

#console-input-field {
	grid-area: input;
	justify-self: center;
	font-size: 12pt;
	width: calc(100% - 1em);
	border: solid 1px;
}

#console-readfile-background {
	grid-area: readfile;
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"readlabel readinput";
	background-color: rgb(243,243,243);
	}

#readlabel {
	font-size: 11pt;
	grid-area: readlabel;
	align-self: center;
	justify-self: center;
}

#readfile {
	font-size: 10pt;
	grid-area: readinput;
	align-self: center;
	justify-self: center;
	width: calc(100% - 10px);
}
