#dgm-main {
	height: 100%;
	width: 100%;
}

.hide-cursor {
	cursor: none;
}

#dgm-svg-main {
	background-color: rgba(238,255,238,1);
	height: 100%;
	width: 100%;
}

.dgm-svg-selectbox {
	stroke: blue;
	fill: transparent;
}

.dgm-svg-tool {
	stroke: black;
}

.dgm-svg-tool-highlight {
	stroke: blue;
}

text {
	fill: black;
	stroke-width: .4;
	pointer-events: none;
}

.dgm-svg-tool-highlight text {
	fill: blue;
	stroke: blue;
}

.dgm-tooltype {
	fill: rgb(0,102,0);
	stroke: rgb(0,102,0);
	font-style: italic;
}

.dgm-Expression {
	fill: rgba(247,247,230,.8);
}

.dgm-Model {
	fill: rgba(230,255,255,.8);
}