@import "ConsoleView.css";
@import "UnitsView.css";

body {
	height: calc(100vh - 30px);
}

#root {
	height: 100%;
	width: 100%;
	border: solid 1px;
}

.mmapp-wrapper {
	font-size: 1em;
	height: 100%;
	display: grid;
	--infoWidth: 320px;
	--toolHeight: 40px;
	grid-template-columns: 1fr var(--infoWidth);
	grid-template-rows: 40px 1fr var(--toolHeight);
	grid-template-areas:
		"diagram nav"
		"diagram info"
		"diagram infotools";
		background-color: rgb(243,243,243);
	}

.mmapp-info-nav {
	grid-area: nav;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"back title";
	align-items: center;
	background-color: rgb(243,243,243);
	border-bottom: solid 1px black;
}

.mmapp-info-navback {
	grid-area: back;
}

.mmapp-info-title {
	grid-area: title;
}

.mmapp-diagram {
	grid-area: diagram;
	background-color: rgb(238,255,238);
	border-right: 1px solid;
}

.mmapp-info-content {
	height: 100%;
	grid-area: info;
}

.mmapp-info-tools {
	grid-area: infotools;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "expand sessions undo redo units";
	justify-items: center;
	align-items: center;
	border-top: solid 1px black;
}

.mmapp-info-tools button {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	color: blue;
	background: transparent;
	border: 0;
	font-size: 10pt;
}

#mmapp-expand-button {
	grid-area: expand;
	font-size: 24pt;
	padding-bottom: 10px;
}

#mmapp-undo-button {
	grid-area: undo;
}

#mmapp-redo-button {
	grid-area: redo;
}

#mmapp-console-button {
	grid-area: sessions;
}

#mmapp-unit-button {
	grid-area: units;
}

