@import "ConsoleView.css";
@import "UnitsView.css";

body {
	height: calc(100vh - 30px);
}

#root {
	height: 100%;
	width: 100%;
	border: solid 1px;
}

.mmview-wrapper {
	font-size: 1em;
	height: 100%;
	display: grid;
	--infoWidth: 320px;
	--toolHeight: 40px;
	grid-template-columns: 1fr var(--infoWidth);
	grid-template-rows: 40px 1fr var(--toolHeight);
	grid-template-areas:
		"diagram nav"
		"diagram info"
		"diagram infotools";
}

.mmview-info-nav {
	grid-area: nav;
	align-items: center;
}

.mmview-diagram {
	grid-area: diagram;
	background-color: rgb(238,255,238);
	border-right: 1px solid;
}

.mmview-info-content {
	height: 100%;
	grid-area: info;
}

.mmview-info-tools {
	grid-area: infotools;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	align-items: center;
}

.mmview-info-tools button {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
}

#mmview-unit-button {
	grid-column: 1;
}

#mmview-console-button {
	grid-column: 4;
}

