@import "ConsoleView.css";

.mmview-wrapper {
	font-size: 1em;
	display: grid;
	--infoWidth: 320px;
	grid-template-columns: calc(100% - var(--infoWidth)) var(--infoWidth);
}

.mmview-diagram {
	grid-column: 1;
	grid-row: 1;
	background-color: rgb(238,255,238);
	border-right: 1px solid;
}

.mmview-info {
	grid-column: 2;
	grid-row: 1;
}