@import "ConsoleView.css";

.mmview-wrapper {
	font-size: 1em;
	display: grid;
	--infoWidth: 320px;
	grid-template-columns: calc(100% - var(--infoWidth)) var(--infoWidth);
}

.mmview-diagram {
	grid-column: 1;
	grid-row: 1;
	background-color: rgb(238,255,238);
	border-right: 1px solid;
}

.mmview-info-wrapper {
	grid-column: 2;
	grid-row: 1;
	--toolHeight: 40px;
	grid-template-rows: calc(100% - 20px - var(--toolHeight)) var(--toolHeight);
}

.mmview-info-content {
	height: 100%;
	grid-column: 1;
	grid-row: 1;
}

.mmview-info-tools {
	height: 40px;
	grid-column: 1;
	grid-row: 2;
}

.mmview-info-tools button {
	margin-top: 10px;
}

